{% extends 'static/crur/base.html' %}
{% load static %}
{% block head %}
    <title>Termo</title>
{% endblock %}


{% block body %}
    <div class="container">
        <h3>SOLICITAÇÃO DE CÓPIA DE BOLETIM DE ATENDIMENTO SAMU</h3>
        <hr>
        <p>O Consórcio Intermunicipal de Saúde da Baixada Fluminense é o órgão gestor da Central de Regulação de Urgências Regional Baixada Fluminense – CRUR BF, portanto, os chamados realizados pelo SAMU 192 e regulados pela CRUR BF nos municípios de Belford Roxo, Duque de Caxias, Itaguaí, Japeri, Magé, Mesquita, Nilópolis, Nova Iguaçu, Queimados, São João de Meriti e Seropédica são gerenciados pelo CISBAF.O boletim de atendimento é o documento que contém informações detalhadas sobre a assistência emergencial prestada ao paciente pelo SAMU. Na CRUR BF todas as informações registradas sobre a assistência prestada aos pacientes são confidenciais e protegidas, conforme a legislação vigente.</p>
        <hr>
        <p>Para garantir a segurança dessas informações, as cópias dos boletins de ocorrências são emitidas ao próprio paciente ou ao seu Representante legal, mediante apresentação dos documentos comprobatórios e consentimento por escrito reconhecido em cartório.Na circunstância em que haver impedimento do paciente, a autorização de acesso ao boletim de atendimento seguirá a seguinte ordem: <b>Representante legal atuante de direito.</b> <b>Guardião ou responsável, no caso de menores, idosos ou incapazes.</b></p>
        <hr>
        <p>Em casos de falecimento do paciente, o acesso ao boletim de atendimento é determinado conforme Resolução nº 03/2014 do Conselho Federal de Medicina, no art.º 1: cópia de prontuário de paciente falecido é fornecida quando solicitada pelo cônjuge/Companheiro sobrevivente do paciente morto, e sucessivamente pelos sucessores legítimos do paciente em linha reta, ou colaterais até o quarto grau, desde que documentalmente comprovado o vínculo familiar e observada a ordem de vocação hereditária (portanto: Pais ou filhos; Avós ou netos; Irmãos; Tios e sobrinhos; Sobrinhos-netos; tios-avós e primos).</p>
        <hr>
        <a href="{% url 'open_request' %}" type="button" class="btn btn-outline-primary">Aceitar e Continuar</a>
        <a href="{% url 'crur' %}" type="button" class="btn btn-outline-danger">Voltar</a>

    </div>
{% endblock %}