{% extends 'static/crur/base.html' %}

{% load static %}

{% block head %}
    <title>Responder Boletim</title>
    <script src="{% static 'crur/js/js-response.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex">
            <div style="flex: 1;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Celular do Requerente</span>
                    </div>
                    <input id="searchFilter" type="text" style="height:auto;" class="form-control" value="{{filter}}">
                    <div class="input-group-append">
                        <button onclick="searchResponse();" class="btn btn-outline-secondary" type="button">PESQUISAR</button>
                    </div>
                </div>
                {% if registers %}
                <div class="accordion" id="accordionResponse">
                    {% for register in registers %}
                    <div class="card">
                        <div class="card-header" id="heading{{register.pk}}">
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{register.pk}}" aria-expanded="true" aria-controls="collapse{{register.pk}}">
                                        Solicitado no dia {{ register.date }} -> ({{register.identifier}})
                                    </button>
                                </h5>
                                <div class="d-flex align-items-center" style="gap: 5px;">
                                    {% if register.status == 'analise' %}
                                    <span class="badge badge-pill badge-warning">AGUARDANDO ANALISE</span>
                                    {% elif register.status == 'deferido' %}
                                    <span class="badge badge-pill badge-success">DEFERIDO</span>
                                    {% if register.auth %}
                                    <span class="badge badge-pill badge-success">AUTORIZADO</span>
                                    {% else %}
                                    <span class="badge badge-pill badge-warning">AGUARDANDO AUTORIZAÇÃO</span>
                                    {% endif %}
                                    {% else %}
                                    <span class="badge badge-pill badge-danger">INDEFERIDO</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="collapse{{register.pk}}" class="collapse" aria-labelledby="heading{{register.pk}}" data-parent="#accordionResponse">
                            <div class="card-body card-response">
                                <div class="accordion" id="accordionData{{register.pk}}" >
                                    <div class="accordion-item card" style="margin-bottom: 10px;">
                                        <h2 class="accordion-header card-header" id="headingOne{{register.pk}}">
                                            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{register.pk}}" aria-expanded="true" aria-controls="collapseOne{{register.pk}}">
                                                Visualizar Solicitação
                                            </button>
                                        </h2>
                                        <div id="collapseOne{{register.pk}}" class="accordion-collapse collapse" aria-labelledby="headingOne{{register.pk}}" data-bs-parent="#accordionData{{register.pk}}">
                                            <div class="accordion-body p-2">
                                                {{ register.html | safe }}
                                                {% if user.field_extra != '3' %}
                                                <hr>
                                                <h5>Anexos do Solicitante</h5>
                                                <div class="d-flex flex-row flex-wrap">
                                                    {% for archive in register.archives.all %}
                                                    <div class="card" style="width: 16rem;">
                                                        <div class="card-body" style="display:flex;flex-direction:column;">
                                                            <h6 class="card-title">{{archive.name}}</h6>
                                                            <img class="card-img-top" style="width: 100px; height: 100px;align-self:center;" src="{% static 'crur/img/documentos.png' %}" alt="Card image cap">
                                                            <hr>
                                                            <a href="{{archive.archive.url}}" target="_blank" class="btn btn-primary">Visualizar</a>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <h2 class="accordion-header card-header" id="headingTwo{{register.pk}}">
                                            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{register.pk}}" aria-expanded="true" aria-controls="collapseTwo{{register.pk}}">
                                                Visualizar Resposta
                                            </button>
                                        </h2>
                                        <div id="collapseTwo{{register.pk}}" class="accordion-collapse collapse" aria-labelledby="headingTwo{{register.pk}}" data-bs-parent="#accordionData{{register.pk}}">
                                            <div class="accordion-body p-2">
                                                <form action="{% url 'response' %}" method="POST" enctype="multipart/form-data" class="d-flex flex-column" style="gap:10px;">
                                                    <input name="pk" value="{{register.pk}}" style="display:none;">
                                                    {% if user.field_extra == '1' %}
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Anexar Arquivo</h5>
                                                            <input type="file" name="inputFile" data-pk="{{register.pk}}">
                                                            <hr>
                                                            <input id="input-{{register.pk}}" placeholder="Descrição do Arquivo" style="display:none;" type="text" class="form-control">
                                                            <br>
                                                            <button id="btn-{{register.pk}}" type="button" class="btn btn-success" style="display:none;">UPLOAD</button>
                                                        </div>
                                                      </div>
                                                  
                                                    <hr>
                                                    {% endif %}
                                                    <h5>Anexos<h5>
                                                    <div id="archives" class="d-flex flex-row flex-wrap">
                                                        {% for archive in register.response_attachments.all %}
                                                        <div class="card" style="width: 16rem;">
                                                            <div class="card-body" style="display:flex;flex-direction:column;gap: 5px;">
                                                                <div class="d-flex justify-content-around align-items-center p-1" style="border-bottom: 1px solid #cbcbcb;">
                                                                    <h5 class="card-title">{{archive.name}}</h5>
                                                                    {% if user.field_extra == '1' %}<button type="button" class="btn btn-outline-danger" onclick="DeleteArchive({{archive.pk}})">X</button>{% endif %}
                                                                </div>
                                                                <img class="card-img-top" style="width: 100px; height: 100px;align-self:center;" src="{% static 'crur/img/documentos.png' %}" alt="Card image cap">
                                                            
                                                                <a href="{{archive.archive.url}}" target="_blank" class="btn btn-primary">Visualizar</a>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                    <h5>Resposta da Solicitação</h5>
                                                    <textarea class="form-control" name="response" rows="4" {% if user.field_extra != '1' %}readonly{% endif %}>{{register.response}}</textarea>
                                                    <select name="select" class="form-select form-control" {% if user.field_extra != '1' %}readonly{% endif %}>
                                                        <option value="analise" {% if register.status == 'analise' %}selected{% endif %}>Em analise</option>
                                                        <option value="deferido" {% if register.status == 'deferido' %}selected{% endif %}>Deferido</option>
                                                        <option value="indeferido" {% if register.status == 'indeferido' %}selected{% endif %}>Indeferido</option>
                                                    </select>
                                                    {% if user.field_extra == '1' %}
                                                    <br>
                                                    <input type="submit" value="Salvar" class="btn btn-primary" style="width: 100%">
                                                    {% endif %}
                                                    {% if user.field_extra == '2' %}
                                                    {% if not register.auth and register.status == "deferido" %}
                                                    <br>
                                                    <a href="{% url 'authorize' register.pk %}" class="btn btn-primary" style="width: 100%">Autorizar</a>
                                                    {% endif %}
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Visualizando {{count}}</li>
                        <li class="breadcrumb-item">{{all}} registros</li>
                    </ol>
                </nav>
                {% else %}
                    {% if term %}
                    <h1> nenhum registro para o filtro {{ term }} </h1>
                    {% endif %}
                {% endif %}
            </div>
            {% if user.field_extra != '3' %}
     
            <div style="margin-left: 10px;">
                <h5 >Filtros</h5>
                <hr>
                <div class="form-check">
                    <a href="/crur/response/analise">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="analise" {% if term == 'analise' %} checked {% endif %} onclick="location.href='/crur/response/analise'">
                        <label class="form-check-label" for="analise">Aguardando Analise</label>
                    </a>
                </div>
                <div class="form-check">
                    <a href="/crur/response/notauth">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="notauth" {% if term == 'notauth' %} checked {% endif %} onclick="location.href='/crur/response/notauth'">
                        <label class="form-check-label" for="notauth">Aguardando Autorização</label>
                    </a>
                </div>
                <div class="form-check">
                    <a href="/crur/response/all">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="all" {% if term == 'all' %} checked {% endif %} onclick="location.href='/crur/response/all'">
                        <label class="form-check-label" for="all">Todos</label>
                    </a>
                </div>
                <div class="form-check">
                    <a href="/crur/response/auth">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="auth" {% if term == 'auth' %} checked {% endif %} onclick="location.href='/crur/response/auth'">
                        <label class="form-check-label" for="auth">Autorizados</label>
                    </a>
                </div>
                <div class="form-check">
                    <a href="/crur/response/deferido">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="deferido" {% if term == 'deferido' %} checked {% endif %} onclick="location.href='/crur/response/deferido'">
                        <label class="form-check-label" for="deferido">Deferidos</label>
                    </a>
                </div>
                <div class="form-check">
                    <a href="/crur/response/indeferido">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="indeferido" {% if term == 'indeferido' %} checked {% endif %} onclick="location.href='/crur/response/indeferido'">
                        <label class="form-check-label" for="indeferido">Indeferido</label>
                    </a>
                </div>
            </div>
            
            {% endif %}
        </div>
    </div>
{% endblock %}
