{% extends 'static/crur/base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'crur/js/js-check.js' %}"></script>
    <title>Acompanhar Boletim</title>

{% endblock %}

{% block body %}
    <div class="container">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Celular do Requerente</span>
            </div>
            <input id="inputCPF" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" {% if term %} value="{{ term }}" {% endif %}>
            <div class="input-group-append">
                <button onclick="searchCheck();" class="btn btn-outline-secondary" type="button">PESQUISAR</button>
            </div>
        </div>

        {% if registers %}
          
          <div class="accordion" id="accordionExample">
            
            {% for register in registers %}
                <div class="card">
                <div class="card-header" id="heading{{register.pk}}">
                   <div class="d-flex justify-content-between">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{register.pk}}" aria-expanded="true" aria-controls="collapse{{register.pk}}">
                           Solicitado no dia {{ register.date }}
                        </button>
                        </h5>
                        <div class="d-flex align-items-center">
                            {% if not register.auth %}
                                {% if register.status == 'analise' %}
                                    <span class="badge badge-pill badge-warning ">ANALISE</span>
                                {% elif register.status == 'indeferido' %}
                                    <span class="badge badge-pill badge-danger">INDEFIRIDO</span>
                                {% endif %}
                            {% else %}
                                {% if register.status == 'analise' %}
                                <span class="badge badge-pill badge-warning ">ANALISE</span>
                                {% elif register.status == 'deferido' %}
                                    <span class="badge badge-pill badge-success justify-content-center">DEFERIDO</span>
                                {% else %}
                                    <span class="badge badge-pill badge-danger">INDEFERIDO</span>
                                {% endif %}
                            {% endif%}
                        </div>
                   </div>
                </div>
            
                <div id="collapse{{register.pk}}" class="collapse show" aria-labelledby="heading{{register.pk}}" data-parent="#accordionExample">
                    <div class="card-body">
                        {% if not register.auth %}
                            {% if register.status == 'analise' %}
                                A sua solicitação ainda está em processo de análise e possui um prazo máximo de 7 dias. Se você não receber uma mensagem pelo WhatsApp, por favor, retorne a esta página para verificar o status.
                            {% else %}
                                {{ register.response }}
                            {% endif %}
                        {% else %}
                            {% if register.status == 'analise' %}
                                A sua solicitação ainda está em processo de análise e possui um prazo máximo de 7 dias. Se você não receber uma mensagem pelo WhatsApp, por favor, retorne a esta página para verificar o status.
                            {% elif register.status == "deferido" %}
                                Informamos que a sua cópia do boletim está disponível para retirada.
                                <br>
                                Por favor, compareça no endereço Av. Gov. Roberto Silveira, 2012 - Moquetá, Nova Iguaçu - RJ, 26020-740 (CISBAF)
                                <br>
                                <b>Necessário trazer um documento de identificação com foto</b>
                            {% else %}
                                {{ register.response }}
                        {% endif %}
                        {% endif %}

                    </div>
                </div>
                </div>
            {% endfor %}
          </div>

        {% endif %}

    </div>
{% endblock %}