{% extends 'static/crur/base.html' %}
{% load static %}


{% block head %}
  
    <title>Responder Boletim</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Celular do Requerente</span>
            </div>
            <input id="inputCPF" type="text" style="height:auto;" class="form-control" aria-label="Amount (to the nearest dollar)" {% if term and term != "analise" %} value="{{term}}" {% endif %}>
            <div class="input-group-append">
                <button onclick="searchResponse();" class="btn btn-outline-secondary" type="button">PESQUISAR</button>
            </div>
            <div style="margin: 5px;">
                <div class="form-check">
                    <a href="/crur/response">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" {% if not term %} checked {% endif %}>
                        <label class="form-check-label">Todos</label>
                    </a>
                  </div>
                  <div class="form-check">
                    <a href="/crur/response/analise">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" {% if term == 'analise' %} checked {% endif %}>
                        <label class="form-check-label">Aguardando</label>
                    </a>
                  </div>
            </div>
        </div>
   
        {% if registers %}
          
          <div class="accordion" id="accordionResponse">
            
            {% for register in registers %}
                <div class="card">
                <div class="card-header" id="heading{{register.pk}}">
                   <div class="d-flex justify-content-between">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{register.pk}}" aria-expanded="true" aria-controls="collapse{{register.pk}}">
                            Solicitado no dia {{ register.date }}
                        </button>
                        </h5>
                        <div class="d-flex align-items-center">
                        {% if register.status == 'analise' %}
                            <span class="badge badge-pill badge-warning ">ANALISE</span>
                        {% elif register.status == 'deferido' %}
                            <span class="badge badge-pill badge-success justify-content-center">DEFERIDO</span>
                        {% else %}
                            <span class="badge badge-pill badge-danger">INDEFERIDO</span>
                        {% endif %}
                        </div>
                   </div>
                </div>
            
                <div id="collapse{{register.pk}}" class="collapse" aria-labelledby="heading{{register.pk}}" data-parent="#accordionResponse">
                    <div class="card-body card-response">
                        {{ register.html | safe }}
                    </div>
                </div>
                </div>
            {% endfor %}
          </div>

        {% endif %}
        
    </div>
{% endblock %}